@model MVCAlbum.Models.tUser

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutRound.cshtml";
}

<style type="text/css">
    .fieldset1 {
        font-family: "微軟正黑體";
        font-size: 20px;
        border: 2px solid salmon;
        background: beige;
        border-radius: 10px;
        width: 300px;
        margin: 30px auto;
        padding: 5px;
    }

    .center {
        text-align: center;
    }

    .textbox {
        font-family: "微軟正黑體";
        font-size: 20px;
        margin: 10px auto;
    }

    .li1 {
        list-style:none;
        text-align:left;
    }
    
</style>


<form method="post" action="~/Login/New" enctype="multipart/form-data">

    <div align="center">
        <h2>create new Account</h2>
        <fieldset class="fieldset1">
            
            <ul>
                <li class="li1">Account Number</li>
                <li class="li1"><input type="text" name="fAcountName" placeholder="Account Name" required class="textbox" /></li>
                <li class="li1">Password</li>
                <li class="li1"><input type="password" name="fPassword" placeholder="Password" required class="textbox" /></li>
                <li class="li1">UserName</li>
                <li class="li1"><input type="text" name="fUserName" placeholder="UserName" required class="textbox" /></li>
                <li class="li1">EMail</li>
                <li class="li1"><input type="email" name="fMail" placeholder="Email" required class="textbox" /></li>
            </ul>
            <input type="submit" value="Go" class="textbox" />
            <input type="reset" value="Reset" class="textbox" />

        </fieldset>
    </div>

</form>